
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/style/delete.css">
</head>
<body>
<h1 id="eliminar">Eliminar Registro</h1>

<form action="/delete/<%=modelo.id%>" method="post">
  <div class='flex-principal'>
    <input type="submit" value="Eliminar" id="eliminarRegistro">
    <a href="/productos">Cancelar</a>

</div>
</form>
</body>

</html>




