<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>hola mundo</title>
   
    <style>

        body{
            background-color: burlywood;
            border: solid 1px #ccccccc;
            padding: 5px;
            margin: 0 auto;
            width: 50%;
        }

        h1{
            
            padding: 5px;
            border: solid;
            color: black;
            width: 75%;
        }
        p{
            border: solid;
            width: 75%;
        }
        img{
            border: 20px solid white;
        }
        a{
         text-decoration:none;
          color:black;
        }
        #divBoton{
        background:rgb(255, 233, 154);
        margin-top:50px;
        margin-bottom:50px;
        padding:10px;
        width:10%;
        border-radius:15px 20px 5px 20px;
        transition:all 1s;
        }
        .divBoton{
           background:rgb(255, 233, 154);
        margin-top:50px;
        margin-bottom:50px;
        padding:10px;
        width:10%;
        border-radius:15px 20px 5px 20px;
        transition:all 1s;   
        }
        .divBoton:hover{
           transform: translateY(-10px);
            font-weight:bold;
        }

        #divBoton:hover{
            transform: translateY(-10px);
            font-weight:bold;
        }

    </style>
</head>
<body>
   <div>
    <h1>
        Yoranny Dayana Hevia Roa
    </h1>
    <p>CI:31.053.802, seccion 3</p>
    <img src="/img/nay.img.jpeg" width="500" alt="fotografia de Yoranny">
   </div>
   <div id='divBoton'>
    <a href="/login" id='productoss'>Productos</a> 

   </div>
   <div class='divBoton'>   
   <a href="/clientes" id='productoss'>Clientes</a>
   </div>
</body>
</html>