<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>hola mundo</title>
   
    <style>

        body{
            background-color: burlywood;
            border: solid 1px #ccccccc;
            padding: 5px;
            margin: 0 auto;
            width: 50%;
        }

        h1{
            
            padding: 5px;
            border: solid;
            color: black;
            width: 75%;
        }
        p{
            border: solid;
            width: 75%;
        }
        img{
            border: 20px solid white;
        }

    </style>







</head>
<body>
   <div>
    <h1>
        Yoranny Dayana Hevia Roa
    </h1>
    <p>CI:31.053.802, seccion 3</p>
    <img src="/img/Dayana.jpeg" width="500" alt="fotografia de Yoranny">
   </div>
    
</body>
</html>