<style type="text/css">
@font-face{
    font-family:'digital';
    src:url('/fuentes/DS-DIGIT.TTF');
}
	body{
		background-image:url('https://plus.unsplash.com/premium_photo-1683133212932-7dd8bd0b2c67?auto=format&fit=crop&q=80&w=1074&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		background-attachment: fixed;
		background:cover;
		background-position:center;
	}
	h1{
	font:50px 'digital';
	}
</style>
<body>

<h1 style='margin-left:20%;line-height:450px;color:gold'>Lo sentimos ruta no encontrada</h1>
</body>