<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/style/login.css">
</head>
<body>
  <h1 class="login">Recover password</h1>
  <form class="login_form" action="/recoverypassword" method="post">
    <label for="admin">Email</label>
    <input type="text" name="email" required="required" placeholder="Inserte el correo">
    <input type="submit" value="Enviar" id="iniciar">
  </form>
</body>
</html>